body{
    background-color: #66CDAA; 
    font-family: Consolas;
    font-size: small;
}
.box{
    font-family: Consolas;
    font-size: medium;
    text-align: center;
    
    width: 300px;
    height: 50px;

    background-color:white;
    border: 2px solid black;

    margin-left: 100px;
    margin-right: 100px;

}
.box hover {
width: 300px;
}
.box2{
    font-family: Consolas;
    font-size: medium;
    text-align: center;
    
    width: 300px;
    height: 50px;

    background-color:white;
    border: 2px solid black;

    margin-top: 12000px;
    margin-right: 5px;
}
 .box3{
    font-family: Consolas;
    font-size: medium;
    text-align: center;
    
    width: 1350px;
    height: 50px;

    background-color:white;
    border: 2px solid black;

    margin-top: 12500px;
    margin-right: 5px;
 }

.main-content{
    font-family: Consolas;
    font-size: xx-large;
    font-weight: 200;
    font-style: inherit;
    letter-spacing: 5px;

    margin-top:50px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.move{
    margin-top: 4000px;

    letter-spacing: 5px;
    font-weight: 100px;
    font-size: xx-large;
}
.move2{
    margin-top: 8000px;

    letter-spacing: 5px;
    font-weight: 100px;
    font-size: xx-large;
}